
{%- if product != blank or title != blank -%}
    {% liquid
        if product != blank
            assign title = product.title
            assign image = product.featured_image
            assign url = product.url
        else
            assign title = title
            assign image = image
            assign url = url
        endif 
    %}

    <div class="text-center">
        <a href="{{ url }}">
            {% if image %}
                {{ image | image_url: height: 150 | image_tag: class: 'mx-auto', loading: 'lazy' }}
            {% endif %}
        </a>
        <p class="mt-4">{{ title }}</p>
    </div>
{%- endif -%}