<div class="{{ class | default: '' }}" style="{{ style | default: '' }}">
  {% if image %}
    {{ image | image_url: width: 500 | image_tag: class: 'w-full h-full object-cover object-center' }}
  {% else %}
    {{ 'image' | placeholder_svg_tag: 'w-full h-full border' }}
  {% endif %}
</div>