<section class="c-container my-16">
    {% if section.settings.headline != blank %}
        <h2 class="px-2 md:px-0 text-center mb-16 font-normal">{{section.settings.headline}}</h2>
    {% endif %}
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6 wide:gap-8 py-4">
        {% for block in section.blocks %}
            <div class="flex flex-col items-center px-5">
                <img src="{{ block.settings.item_svg | file_url }}" class="w-20 mb-4" alt="icon">
                <div>{{block.settings.item_text}}</div>
            </div>
        {% endfor %}
    </div>
</section>

{% schema %}
{
    "name": "Icon list",
    "class": "icon-section",
    "settings": [
        {
        "type": "text",
        "id": "headline",
        "label": "t:common.headline",
        "default": "The NO List"
        }
    ],
    "blocks": [
        {
            "type": "quote",
            "name": "t:sections.quotes.settings.quote",
            "limit": 4,
            "settings": [
                {
                    "type": "text",
                    "id": "item_svg",
                    "label": "Icon svg",
                    "info": "Upload the svg file in the files and write the name here, ex: 'icon.svg'"
                },
                {
                    "type": "textarea",
                    "id": "item_text",
                    "label": "t:common.text"
                }
            ]
        }
    ],
  "presets": [
    {
      "name": "Icon list",
      "category": "Image"
    }
  ]
}
{% endschema %}