<div class="c-container-padded">
  <div class="py-5" x-data="{
        openForgotPassword: false,
        toggleForgotPassword() { this.openForgotPassword = !this.openForgotPassword },
          }">
    <div x-show="!openForgotPassword" x-cloak>
      {% render 'layout-account-login' %}
    </div>

    <div x-show="openForgotPassword" x-cloak>
      {% render 'layout-account-forgot-password' %}
    </div>
  </div>
</div>