.go-cart{


    &-item {
        &__remove{
            text-indent: -9999px;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACzSURBVHgB7ZXNDcIwDIWfEQMwQmfqESQ6AxuUDbpCkeDYmToCCxDjIA5Q2YYIqv6o36GVEid+38UBpg55m/WlKSigkqqNUdIyoSy2eW3dsYLXnVE6l0cyqamcfazhk8XPfperpqdzw/LzAvgG/+At2TPRz7wa926gEk1SbLz63g2+atBNmGI4DoOlwdLA5dM0fdCdptZ01RjGgBlXkocmZR5JYautqwaB+GAdsAKFGx8xS+6erD/eDHPjugAAAABJRU5ErkJggg==') center no-repeat;
            width: 20px;
            height: 30px;
            
        }



        &__info {
            @apply flex flex-col;
            
            footer{
                @apply mt-auto flex;
            }

        }

        &__title{
            @apply font-bold;
        }

        &__quantity {
            bottom: unset;
            right: 0;
            &-label {
                display: none;
            }
        }
        &__price {
            position: static  !important;
            bottom: unset;
        }     

        &__image{
            @apply bg-contain;
        }
    }

    &-drawer {
        &__header {
            @apply justify-between;
        }

        &__content {
            height: calc(100% - 240px);
            @apply overflow-y-auto;
            @extend .custom-scroll-bar;
        }

        &__footer {
            padding-top: 10px;
        }

    }

    &__drawer {
        &.is-empty {
            .go-cart-upsell-list {
                display: none;
            }
        }

        &.is-open {
            z-index: 999;
        }

        &.has-upsells {
            .go-cart-drawer__content {
                height: calc(100% - 440px);   
            }
        }
    }

    &__trigger {
        .js-go-cart-counter {

            @apply rounded-full text-white text-center bg-primary absolute;
            right: -9px;
            bottom: -9px;
            width: 19px;
            height: 19px;
            font-size: 10px;
            vertical-align: middle;
            line-height: 19px;
            aspect-ratio: 1;
            
        }
    }
}